* {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: rgb(172, 214, 248);
  background: url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) no-repeat;
  background-size: cover;
  height: 100vh;
}

.app-body {
  display: flex;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(20px);
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.8);
}

@media (max-aspect-ratio: 7/10) {

  .join {
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
  }

  .join-container {
    margin-top: 30vw !important;
    width: 100% !important;

  }

  .join-container>img {
    width: 30vw !important;
  }

  .join-container>h2 {

    font-size: 6vw !important;
    width: 65vw !important;
    border-bottom: 0.6vw solid white !important;
    padding: 3vw !important;

  }

  .join-container {
    width: 65vw !important;
    padding: 4vw !important;

    font-size: 5vw !important;
    margin: 5vw !important;

  }

  .join-btn {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw !important;

  }

  .chat-container {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
  }

  .header {
    height: 10% !important;
  }

  .header>h2 {
    margin: 8vw !important;
    font-size: 5vw !important;
  }

  .header img {
    margin: 6vw !important;
    transform: scale(2) !important;
  }

  .header img:hover {
    transform: scale(3.2) !important;
  }

  .chat-box {

    height: 80% !important;
  }

  .input {

    height: 10% !important;

  }

  #chatInput {
    padding: 4vw !important;
    font-size: 4vw !important;
  }

  .message {
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 3.7vw !important;
  }


}
