.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(20px);
    height: 80vh;
    width: 60vw;
    border-radius: 10px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.8);

}

.out {
    border-radius: 10px;
}

.header {
    background-color: rgb(116, 77, 236);
    height: 17%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>h2 {
    color: rgb(255, 255, 255);
    font-size: 2.8vmax;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 4vmax;
}

.header img {
    margin: 2vmax;
    transition: all 0.3s;
    width: 2.5vmax;
    cursor: pointer;

}

.header img:hover {
    transform: scale(1.2);
}


#chatInput {
    outline: none;
    font-size: 1.5vmax;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 1vmax;
    width: 90%;
    height: 100%;
}

.send-btn {
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 0 0 7px 0;
    border: none;
    width: 10%;
    height: 100%;
    background-color: rgb(116, 77, 236);
}

.send-btn:hover {
    background-color: rgb(97, 86, 174);
}

.send-btn>img {
    filter: brightness(100) invert();
    transition: all 0.2s;
}

.send-btn:hover img {
    transform: translateX(7px);
}

/* ............... */

.chat-body {
    flex: 1;
    background: #A3C6F7;
    background: -webkit-radial-gradient(center, #A3C6F7, #BBB8E0);
    background: -moz-radial-gradient(center, #A3C6F7, #BBB8E0);
    background: radial-gradient(ellipse at center, #A3C6F7, #BBB8E0);
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-y: auto;
}

/* emoji */

.picker-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.emoji-icon {
    width: 40px;
    margin: 10px;
    transition: all 0.2s;
}

.emoji-icon:hover {
    cursor: pointer;
    width: 42px;
}


.input-style {
    padding: 7px 10px 7px 10px;
    width: calc(100% - 40px);
    border-radius: 3px;
    border: 1px solid #999;
}


.input-area {
    display: flex;
    width: 100%;
}
